*{
  margin: 0;
  padding: 0;
  --blue: #92DCE5;
  --white: #EEE5E9;
  --gray: #383D3B;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html
{
  height: 100%;
}
.container{
  display: grid;
  grid-template-columns: 1.5fr  8.5fr;
  grid-template-rows: 2fr 8fr;
  height: 100vh;
}
.dashboard{
  grid-area: 1 / 1 / 10 / 1;
  display: grid;
  grid-template-columns: 10% 90% ;
  grid-template-rows: repeat(12, 30px);
  background-color: var(--blue);
  color: white;
}
.search{
  grid-area: 1 / 2 / 1 / 2;
}
.dash-title{
  font-size: 2rem;
}
.menu-item{
  display: flex;
  justify-content: left;
  align-items: center;
  /* border: #EEE5E9 solid 1px; */
}
.bottom{
  align-items: start;
}
.search{
  background-color:var(--white);
}
.cards{
  background-color:var(--gray);
}